.blog-info {
  margin-bottom: 4%;
}

.blog-info__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.blog-info__box {
  max-width: 800px;
  margin-bottom: 40px;
}

.blog-info__img {
  margin-bottom: 20px;
}

.blog-info__text {
  line-height: 1.5;
}

@media(min-width:992px){
  .blog-info__container {
    flex-direction: row;
  }
}