.header {
  position: relative;
  padding-bottom: 20px;
}

.header_active {}

.header::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: #fff;
}


.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #202020;
}

.header__contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header__contact-item {}

.header__contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  transition: color 0.3s;
}

.header__contact-link:hover {
  color: #f9b109;
  text-decoration: underline;
}

.header__contact-icon {
  width: 25px;
  height: 25px;
  fill: #f9b109;
  stroke: transparent;
  flex-shrink: 0;
}

.header__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.header__social-item {}

.header__social-link {}

.header__social-icon {
  width: 30px;
  height: 30px;
  fill: #fff;
  flex-shrink: 0;
  transition: fill 0.3s;
}

.header__social-icon:hover {
  fill: #f9b109;
}

@media(min-width:1200px) {
  .header__container {
    z-index: 11;
  }
}