.hero-services {
  position: relative;
  isolation: isolate;
  display: flex;
  margin-bottom: 4%;
  padding: 90px 0;
}

.hero-services::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(25, 60, 157, 0.85)
}

.hero-services__container {}

.hero-services__title {
  position: relative;
  text-align: center;
}

.hero-services__title.scroll-anim {
  transition: opacity 0.4s, transform 0.4s;
  transform: translateY(-20px);
  opacity: 0;
}


.hero-services__title.scroll-anim_active {
  transform: translateY(0);
  opacity: 1;
}

.hero-services__title::after {
  content: "";
  position: absolute;
  bottom: -0.300em;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  background-color: #f9b109;
}