.home-blog {
  margin-bottom: 4%;
}

.home-blog__container {}

.home-blog__title {
  position: relative;
  margin-bottom: 60px;
}

.home-blog__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #f9b109;
}

.blog__strong {}

.home-blog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 30px;
}

.home-blog__item {
  border: 1px solid #e1e7ec;
  height: 100%;
  transition: box-shadow 0.5s, scale 0.5s;
}

@media (pointer:fine) and (hover: hover) {
  .home-blog__item:hover {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
    scale: 1.02;
  }
}

.home-blog__img-link {}

.home-blog__img {
  max-width: 600px;
  max-height: 350px;
}

.home-blog__box {
  padding: 30px;
}

.home-blog__small-title {
  font-size: 18px;
  margin-bottom: 15px;
}


.home-blog__link {
  padding-bottom: 2px;
  transition: box-shadow 0.3s;
}

.home-blog__link:hover {
  box-shadow: 0 2px 0 0 #f9b109;
}


.home-blog__text {
  line-height: 1.5em;
  font-size: 14px;
}