.home-clients {
  position: relative;
  margin-bottom: 4%;
  padding: 90px 0;
  isolation: isolate;
}

.home-clients::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(25, 60, 157, 0.85)
}


.home-clients__title {
  position: relative;
  margin-bottom: 60px;
}

.home-clients__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #f9b109;
}

.home-clients__strong {}

.home-clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.home-clients__item {
  max-width: 350px;
  height: 100%;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.home-clients__text {
  margin-bottom: 15px;
  line-height: 1.5em;
  font-size: 18px;
  font-style: italic;
}


.home-clients__comment-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-clients__img {
  width: 40px;
  height: 40px;
  border: 2px solid #f9b109;
  border-radius: 50%;
}

.home-clients__name {
  display: block;
  margin-bottom: 5px;
  color: #FFF;
  transition: box-shadow 0.4s;
  font-weight: 700;
}

.home-clients__name:hover {
  box-shadow: 0 2px 0 0 #f9b109;
}

.home-clients__position {
  display: block;
  color: #ccd5db;
  font-size: 0.800em;
}